<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titi.mapper.MsgMapper">

	<sql id="selectId">
		msg.id,
		msg.site_id,
		msg.shop_id,
		msg.data_type,
		msg_stat_cd,
		fr_id,
		cy_user.userName,
		to_id,
		info.nickname,
		title,
		msg_type,
		content,
		r_yn,
		create_date
	</sql>

	<select id="findMsgPage" parameterType="com.titi.entity.MsgFormMap" resultType="com.titi.entity.MsgFormMap">
		select
		<include refid="selectId" />
		from tb_msg msg
		left join cy_user on cy_user.id=msg.fr_id
		left join tb_user_info info on info.account_id=msg.to_id
		<where>
			<if test="userName != null and userName != ''">
				and userName like '%${userName}%'
			</if>
			<if test="nickname != null and nickname != ''">
				and nickname like '%${nickname}%'
			</if>
			<if test="title != null and title != ''">
				and title like '%${title}%'
			</if>
			<if test="r_yn != null and r_yn != ''">
				and r_yn = ${r_yn}
			</if>
		</where>
	</select>
	
</mapper>