<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titi.mapper.MsgRecordMapper">
	
	<!-- 新增附件表数据 -->
	<insert id="addMsgRecordEntity" parameterType="com.titi.entity.MsgRecordFormMap" 
		useGeneratedKeys="true" keyProperty="id">
		replace into tb_msg_record(title,content,cust_id,create_date,expiry_date) values
		 (#{title},#{content},#{cust_id},now(),#{expiry_date})
	</insert>
	
</mapper>