<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titi.mapper.StationClassifyMapper">

	<sql id="selectId">
		id,
		site_id,
		shop_id,
		data_type,
		name,
		(select u.userName from cy_user u where u.id=tb_station_classify.create_by) create_by,
		create_date,
		(select u.userName from cy_user u where u.id=tb_station_classify.update_by) update_by,
		update_date
	</sql>

	<!-- 分页查询站点分类信息 -->
	<select id="findStationClassifyPage" resultType="com.titi.entity.StationClassifyFormMap">
		select
		<include refid="selectId" />
		from tb_station_classify 
		<where>
			<if test="name != null and name != ''">
				and name like '%${name}%'
			</if>
		</where>
	</select>

	<!-- 查询站点分类信息列表(用于站点信息管理中显示下拉信息) -->
	<select id="findStationClassifyList" resultType="com.titi.entity.StationClassifyFormMap">
		select id,name from tb_station_classify 
	</select>

</mapper>