<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titi.mapper.StationMapper">

	<sql id="selectId">
		station.id,
		station.site_id,
		station.shop_id,
		station.data_type,
		station.name,
		area,
		station.create_date,
		(select count(*) from tb_attention_record record where record.rider_id = any 
		(select rider.id from tb_rider rider where rider.station_id = station.id) 
		and record.attention_yn = 1) attention_total_y,
		(select count(*) from tb_attention_record record where record.rider_id = any 
		(select rider.id from tb_rider rider where rider.station_id = station.id) 
		and record.attention_yn = 0) attention_total_n,
		(select count(*) from tb_attention_record record where record.rider_id = any 
		(select rider.id from tb_rider rider where rider.station_id = station.id) 
		and record.attention_yn = 1 and UNIX_TIMESTAMP(record.create_date) BETWEEN 
		UNIX_TIMESTAMP(DATE(SYSDATE()))
		AND UNIX_TIMESTAMP(NOW())) attention_today_y,
		(select count(*) from tb_attention_record record where record.rider_id = any 
		(select rider.id from tb_rider rider where rider.station_id = station.id) 
		and record.attention_yn = 0 and UNIX_TIMESTAMP(record.create_date) BETWEEN 
		UNIX_TIMESTAMP(DATE(SYSDATE()))
		AND UNIX_TIMESTAMP(NOW())) attention_today_n,
		url,
		classify.name classify_name
	</sql>

	<!-- 分页查询站点信息 -->
	<select id="findStationPage" resultType="com.titi.entity.StationFormMap">
		select
		<include refid="selectId" />
		from tb_station station
		left join tb_station_classify classify on station.classify_id = classify.id
		<where>
			<if test="name != null and name != ''">
				and station.name like '%${name}%'
			</if>
			<if test="area != null and area != ''">
				and area like '%${area}%'
			</if>
			<if test="classify_id != null and classify_id != ''">
				and classify_id = ${classify_id}
			</if>
		</where>
		order by attention_total_y desc,attention_today_y desc
	</select>

	<!-- 查询站点信息列表(用于骑手信息管理中显示下拉信息) -->
	<select id="findStationList" resultType="com.titi.entity.StationFormMap">
		select id,name from
		tb_station order by create_date desc
	</select>

</mapper>