<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titi.mapper.TopicQuestionMapper">
	
	<sql id="selectId">
		id,
		site_id,
		shop_id,
		data_type,
		title,
		question,
		rec_yn,
		type,
		create_date,
		create_by,
		update_by,
		update_date
	</sql>

	<!-- 分页查询问题列表信息 -->
	<select id="findQuestionPage" resultType="com.titi.entity.TopicQuestionFormMap">
		select
		<include refid="selectId" />
		from tb_topic_question
	</select>
	
	<!-- 查询社区图片信息 -->
	<select id="getTopicPic" resultType="com.titi.entity.TopicPicFormMap" parameterType="String">
		select id,site_id,shop_id,data_type,(select url from tb_attachment t where t.id= i.`img_id`) img_id,topic_id from 
		tb_topic_img i where topic_id =  #{id}
	</select>
	
	<!-- 删除社区图片 -->
	<delete id="deleteTopicImg" parameterType="String">
		delete from tb_topic_img where topic_id = #{id}
	</delete>
	
	<!-- 保存社区图片 -->
	<insert id="saveTopicImg" parameterType="com.titi.entity.TopicPicFormMap">
		insert into tb_topic_img (img_id,topic_id,type) values (#{img_id},#{topic_id},#{type})
	</insert>
	
	<select id="selectAnswerLikeList" parameterType="com.titi.entity.AnswerLikeFormMap" resultType="com.titi.entity.AnswerLikeFormMap">
		SELECT id,(select nickname from tb_user_info u where u.account_id = r.user_id) as user_id,rel_id,`type` FROM tb_favorite_record r WHERE rel_id = ${rel_id}
	</select>
	
</mapper>