body { margin:0px; padding:0px; font-size:14px; color:#666666}

.big{ width:1024px; margin:0px auto}
ul{ list-style:none; padding:0px; margin:0px}
#menu{  height:40px; background:#145DE8; border-top:solid 1px #ffffff; border-bottom:solid 1px #ffffff}
#menu ul{ padding-left:30px}
#menu li{ float:left; padding:10px;}
#menu li a,#menu li a:visited{ color:White; font-weight:bold; display:block; text-decoration:none}
.map{    height:36px; background:#DAD8D9; background-image:url(../images/map_left.png); background-repeat:no-repeat; background-position:left; border:solid 1px #DCDCDC}
.map b{ color:White; display:block; width:156px; height:36px; text-align:center; padding-top:7px }
.mainborder{width:100%; border:solid 1px #CCCCCC; overflow:hidden; padding:10px 0px}
td{ vertical-align:top}
p{ line-height:22px}
.foot{ background:url(../images/1_13.jpg); height:80px; text-align:center}
.foot a{ color:#666666; text-decoration:none; display:block; padding-top:40px}
.content{ line-height:22px; text-align:left; display:block; width:750px; padding:30px 20px}
/*×ó²àÇøÓò*/

.leftborder{ border:solid 1px #CCCCCC; vertical-align:top; margin-top:10px}
.leftborder span div{ width:100%; margin:10px 0px; text-align:center}
.lefttop{ width:198px; background:#FB7011; height:30px; width:100%; text-align:left}
.lefttop b{ color:White; display:block; padding-top:7px; padding-left:20px}
.leftborder .typeul li{ border-bottom:dashed 1px #CCCCCC; width:99%; text-align:left; padding-top:8px;}
.leftborder .typeul li a{ display:block; padding-left:10px; padding-bottom:10px; color:#808080; text-decoration:none; font-size:15px;}

/*ÄÚÈÝÇøÓò*/
.imglistul{ overflow:hidden}
.imglistul li{ width:30%; text-align:center; float:left; margin:10px}
.imglistul li img{ width:90%; padding:5px; border:solid 1px #CCCCCC; height:150px}
.imglistul li a{text-decoration:none; display:block; padding-top:10px; color:#666666}

.jinmes{ float:left; overflow:hidden}
.jinmes li{ border-bottom:dashed 1px #CCCCCC; width:450px; text-align:left; padding-top:15px;}

