<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lbf.wsdc.dao.StoremenuMapper" >
  <resultMap id="BaseResultMap" type="com.lbf.wsdc.pojo.po.Storemenu" >
    <id column="menuid" property="menuid" jdbcType="BIGINT" />
    <result column="storeid" property="storeid" jdbcType="BIGINT" />
    <result column="foodid" property="foodid" jdbcType="BIGINT" />
    <result column="foodname" property="foodname" jdbcType="VARCHAR" />
    <result column="foodprices" property="foodprices" jdbcType="REAL" />
    <result column="foodtype" property="foodtype" jdbcType="VARCHAR" />
    <result column="foodic" property="foodic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menuid, storeid, foodid, foodname, foodprices, foodtype, foodic
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lbf.wsdc.pojo.po.StoremenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from storemenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from storemenu
    where menuid = #{menuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from storemenu
    where menuid = #{menuid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lbf.wsdc.pojo.po.StoremenuExample" >
    delete from storemenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lbf.wsdc.pojo.po.Storemenu" >
    insert into storemenu (menuid, storeid, foodid, 
      foodname, foodprices, foodtype, 
      foodic)
    values (#{menuid,jdbcType=BIGINT}, #{storeid,jdbcType=BIGINT}, #{foodid,jdbcType=BIGINT}, 
      #{foodname,jdbcType=VARCHAR}, #{foodprices,jdbcType=REAL}, #{foodtype,jdbcType=VARCHAR}, 
      #{foodic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lbf.wsdc.pojo.po.Storemenu" >
    insert into storemenu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        menuid,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="foodid != null" >
        foodid,
      </if>
      <if test="foodname != null" >
        foodname,
      </if>
      <if test="foodprices != null" >
        foodprices,
      </if>
      <if test="foodtype != null" >
        foodtype,
      </if>
      <if test="foodic != null" >
        foodic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuid != null" >
        #{menuid,jdbcType=BIGINT},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=BIGINT},
      </if>
      <if test="foodid != null" >
        #{foodid,jdbcType=BIGINT},
      </if>
      <if test="foodname != null" >
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="foodprices != null" >
        #{foodprices,jdbcType=REAL},
      </if>
      <if test="foodtype != null" >
        #{foodtype,jdbcType=VARCHAR},
      </if>
      <if test="foodic != null" >
        #{foodic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lbf.wsdc.pojo.po.StoremenuExample" resultType="java.lang.Integer" >
    select count(*) from storemenu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update storemenu
    <set >
      <if test="record.menuid != null" >
        menuid = #{record.menuid,jdbcType=BIGINT},
      </if>
      <if test="record.storeid != null" >
        storeid = #{record.storeid,jdbcType=BIGINT},
      </if>
      <if test="record.foodid != null" >
        foodid = #{record.foodid,jdbcType=BIGINT},
      </if>
      <if test="record.foodname != null" >
        foodname = #{record.foodname,jdbcType=VARCHAR},
      </if>
      <if test="record.foodprices != null" >
        foodprices = #{record.foodprices,jdbcType=REAL},
      </if>
      <if test="record.foodtype != null" >
        foodtype = #{record.foodtype,jdbcType=VARCHAR},
      </if>
      <if test="record.foodic != null" >
        foodic = #{record.foodic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update storemenu
    set menuid = #{record.menuid,jdbcType=BIGINT},
      storeid = #{record.storeid,jdbcType=BIGINT},
      foodid = #{record.foodid,jdbcType=BIGINT},
      foodname = #{record.foodname,jdbcType=VARCHAR},
      foodprices = #{record.foodprices,jdbcType=REAL},
      foodtype = #{record.foodtype,jdbcType=VARCHAR},
      foodic = #{record.foodic,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lbf.wsdc.pojo.po.Storemenu" >
    update storemenu
    <set >
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=BIGINT},
      </if>
      <if test="foodid != null" >
        foodid = #{foodid,jdbcType=BIGINT},
      </if>
      <if test="foodname != null" >
        foodname = #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="foodprices != null" >
        foodprices = #{foodprices,jdbcType=REAL},
      </if>
      <if test="foodtype != null" >
        foodtype = #{foodtype,jdbcType=VARCHAR},
      </if>
      <if test="foodic != null" >
        foodic = #{foodic,jdbcType=VARCHAR},
      </if>
    </set>
    where menuid = #{menuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lbf.wsdc.pojo.po.Storemenu" >
    update storemenu
    set storeid = #{storeid,jdbcType=BIGINT},
      foodid = #{foodid,jdbcType=BIGINT},
      foodname = #{foodname,jdbcType=VARCHAR},
      foodprices = #{foodprices,jdbcType=REAL},
      foodtype = #{foodtype,jdbcType=VARCHAR},
      foodic = #{foodic,jdbcType=VARCHAR}
    where menuid = #{menuid,jdbcType=BIGINT}
  </update>


  <select id="getStoreMenuByUserId" parameterType="java.lang.Long" resultType="com.lbf.wsdc.pojo.po.Storemenu">
    SELECT * FROM storemenu menu LEFT JOIN storeinfo store ON menu.storeid = store.storeId
    LEFT JOIN user u ON u.account = store.uaccount
    WHERE u.userid = #{userid}
  </select>
</mapper>